.sidebar-wrapper{
    padding: 10px;
    height: 580px;
    width: 40%;
    overflow-y: scroll;
}
.side-card-wrapper{
    border-bottom: 1px solid black;

}
.side-card-wrapper:hover{
    cursor: pointer;
}